body{
  margin: 0 auto;
  width: 100%;
  position: relative;
}

button{
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.flex{
  display: flex;
}

.h-100p{
  height: 100%;
}

.w-100p{
  width: 100%;
}

.m-10{
  margin: 10px;
}

.align-center{
  align-items: center;
}

.space-between{
  justify-content: space-between;
}

main{
  margin: auto;
  width: 1000px;
  background-color: red;
}

header{
  width: 100%;
  position: sticky;
  top: 0;
  height: 100px;
  box-shadow: 1px 1px 20px grey;
}

header > div{
  margin: auto;
  width: 1000px;
  max-width: 100%;
}

header > div div p{
  margin-left: 20px;
  font-size: 20px;
}

.img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  width: 80px;
  height: 80px;
  background-image: url('../images/logo.webp');
}

.profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid yellow;
}

.icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header .favs{
  background-image: url('../images/fav.webp');
}

header .notifs{
  background-image: url('../images/notifs.webp');
}