body{
  margin: 0 auto;
  width: 100%;
  position: relative;
}

button{
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.h-100p{
  height: 100%;
}

.w-100p{
  width: 100%;
}

.m-10{
  margin: 10px;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.space-between{
  justify-content: space-between;
}

main{
  margin: auto;
  width: 1000px;
  background-color: red;
}

header{
  width: 100%;
  position: sticky;
  top: 0;
  height: 100px;
  box-shadow: 1px 1px 20px grey;
}

header > div{
  margin: auto;
  width: 1000px;
  max-width: 100%;
}

header > div div p{
  margin-left: 20px;
  font-size: 20px;
}

.img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  width: 80px;
  height: 80px;
  background-image: url('../images/logo.webp');
}

.profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid yellow;
}

.icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header .favs{
  background-image: url('../images/fav.webp');
}

header .notifs{
  background-image: url('../images/notifs.webp');
}

.skeleton{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

[hidden=true]{
  display: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}